


@media screen and (max-width: 320px) {
    html{
        font-size:10px;
    }
}
@media screen and (min-width:321px)and (max-width: 360px) {
    html{
        font-size:12px;
    }
}
@media screen and (min-width:361px)and (max-width: 414px) {
    html{
        font-size:14px;
    }
}
@media screen and (min-width:415px)and (max-width: 768px) {
    html{
        font-size:25px;
    }
}